<div class="flex flex-col gap-3">
  <div class="flex justify-between">
    <mat-paginator
      (page)="handlePageEvent($event)"
      [length]="vm()?.count"
      [pageSize]="selectedPaginator().pageSize"
      [showFirstLastButtons]="true"
      [pageSizeOptions]="pageSizeOptions"
      aria-label="select page"
    >
    </mat-paginator>

    <div class="relative flex items-center w-full max-w-md mx-4">
      <input
        type="search"
        class="block w-full p-4 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:border-blue-500 focus:ring-blue-500"
        placeholder="Search"
        name="search"
        [(ngModel)]="selectedSearch"
      />
      <button mat-icon-button type="submit" class="absolute right-18 top-0 flex items-center pl-3">
        <mat-icon class="text-gray-500">search</mat-icon>
      </button>
    </div>

    <div class="flex gap-3">
      <button mat-stroked-button (click)="openFiltersDialog()">
        <mat-icon>filter_list</mat-icon>
        Filters
      </button>
      <button mat-stroked-button [matMenuTriggerFor]="sortMenu">
        <mat-icon>swap_vert</mat-icon>
        Sort
      </button>
    </div>
  </div>

  <div class="grid grid-cols-5 gap-4">
    @for (product of vm()?.data; track product.id) {
      <app-product-item [product]="product"></app-product-item>
    }
  </div>
</div>

<mat-menu #sortMenu="matMenu">
  <mat-selection-list
    [multiple]="false"
    (selectionChange)="selectedParams.set({...selectedParams(), sort: $event.options[0].value})"
  >
    @for (sort of sortOptions; track sort) {
      <mat-list-option [value]="sort.value">{{ sort.name }}</mat-list-option>
    }
  </mat-selection-list>
</mat-menu>
